.main-hebergements{
    background: #f2f2f2;    
    border-radius: 20px;
    padding: clamp(30px, 2%, 35px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-houses{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    grid-row-gap: 30px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* --------------------------------- RESPONSIVE : TABLETTE ( 768px) ------------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px){
    
}


/*--------------------------------------------------------------------------------------------------------*/
/* ----------------------------- RESPONSIVE : DESKTOP COMPUTER (992px ) ---------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px){
    .main-hebergements{
        flex-basis: 60%;
    }
}