.side-hebergements{
    background: #f2f2f2;
    border-radius: 20px;
    padding: clamp(30px, 2%, 35px);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
}

.side-houses{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
/*--------------------------------------------------------------------------------------------------------*/
/* --------------------------------- RESPONSIVE : TABLETTE ( 768px) ------------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px){
    
}


/*--------------------------------------------------------------------------------------------------------*/
/* ----------------------------- RESPONSIVE : DESKTOP COMPUTER (992px ) ---------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px){
    .side-hebergements{
        flex-basis: 30%;
    }
}