.housing-area{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
}



/*--------------------------------------------------------------------------------------------------------*/
/* --------------------------------- RESPONSIVE : TABLETTE ( 768px) ------------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px){

}


/*--------------------------------------------------------------------------------------------------------*/
/* ----------------------------- RESPONSIVE : DESKTOP COMPUTER (992px ) ---------------------------------- */
/*--------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px){
    //housing area that includes both housing galleries
    .housing-area{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    //main area

    //side area (the most popular ones)
}